/**
 * utilities/_valign.scss
 */

/* ==========================================================================
   Utilities
   ========================================================================== */

/* Valign
   ========================================================================== */

.valign--top { vertical-align: top; }
.valign--middle { vertical-align: middle; }
.valign--bottom { vertical-align: bottom; }
